div#canvas {
    position: relative;
    height: 100%;
    width: 100%;
}

canvas#map {
    position: relative;
}

g.map {
    cursor:grab;
}

g.timeline {
    cursor: crosshair;
}

canvas#time-line, svg#interaction {
    position: absolute;
    left: 0;
    top: 0;
}

